# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/
venv/

# Django
db.sqlite3
media/
staticfiles/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Migrations cache
*/migrations/__pycache__/

# Env
.env

